In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
x = dados[["home", "how_it_works", "contact"]]
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [6]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [7]:
x = dados[["principal","como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [9]:
y = dados[["comprou"]]
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [10]:
dados.shape

(99, 4)

In [26]:
train_x = x[:75]
train_y = y[:75]
test_x = x[75:]
test_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" 
      % (len(train_x), len(test_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [27]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [31]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print(train_x.shape)
print(test_x.shape)
print("Treinaremos com %d elementos e testaremos com %d elementos" 
      % (len(train_x), len(test_x)))

modelo = LinearSVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

(74, 3)
(25, 3)
Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
train_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [33]:
test_y.value_counts()

comprou
0          19
1           6
dtype: int64

In [35]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# seed (padroniza o gerador de números)
# stratify (separa proporcionalmente)

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(
    x, y, random_state = SEED, test_size = 0.25, stratify = y)
print(train_x.shape)
print(test_x.shape)
print("Treinaremos com %d elementos e testaremos com %d elementos" 
      % (len(train_x), len(test_x)))

modelo = LinearSVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

(74, 3)
(25, 3)
Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [36]:
train_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [37]:
test_y.value_counts()

comprou
0          17
1           8
dtype: int64